__pycache__/
*.pyc
venv/
.env
staticfiles/
db.sqlite3
lambda_dist/
deployment_package.zip

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# --- Build Artifacts ---
*.zip
lambda_layer/
