__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
.env
.git/
node_modules/
staticfiles/
media/
*.log
.DS_Store
Thumbs.db
dashboard/migrations/__pycache__/
dashboard/services/__pycache__/
dashboard/templatetags/__pycache__/
config/__pycache__/
dashboard/management/commands/__pycache__/
